html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}
body{
    font-family: 'Montserrat', sans-serif; 
}
/* Раздел Артура, контент в центре с шаблонами */

.templates{
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
    flex-wrap: wrap;
}
.template_section__text{
    padding-top: 20px;
}
.template_card{
    width: 600px;
    height: 250px;
    margin-bottom: 40px;
    background-color: white;
    border: gray 1px solid;
}
.template_link{
  text-decoration: none;
  color: black;
}
.template_card__img{
  height: 240px;
  
}
.about_us_section{
    background-color: tomato;
}
.about_us__text{
    text-align: center;
}
/* Конец раздела Артура, контент в центре с шаблонами */

/* Раздел Павла, шапка */
header{
    min-height: 100px;
    background-color: white;
    border-bottom: gray 1px solid;
}
  
  .section {
    text-decoration-line: none;
  }
  
  .section__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .header-menu {
    min-height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  
 .header__img__burger-M{
    z-index: 1000;
    top: 0;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 25px;
  }

  .header__logo{
    text-decoration: none;
  }

  .header__img__logo-text{
    width: 192px;
    height: 80px;
  }

  .mainmenu__title{
    display: flex;
    font-weight: 600;
    line-height: 1.14;
    text-transform: uppercase;
    max-width: 240px;
    margin-left: 300px;
    margin-top: -50px;
  }

  .mainmenu__title__right{
    font-weight: 600;
    text-transform: uppercase;
    max-width: 240px;
  }

  .mainmenu__item{
      margin-top: 50px;
  }
  
/*Конец раздела Павла, шапка */

footer{
    border-top: gray 1px solid;
    min-height: 300px;
    background-color: white;
}
.template_selection_section{
    text-align: center;
}