html {
    box-sizing: border-box;
    height: 100%;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}
body{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper{
  width: 95%;
  display: flex;
  height: 100%;
  flex-direction: column;
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Раздел Артура, контент в центре с шаблонами */
.display_none{
  display: none;
}
.yellow{
  background-color: yellow;
}
.red{
 background-color: tomato;
}

.green{
  background-color: yellowgreen;
}

.blue{
  background-color: blue;
}
.bisque{
  background-color: bisque;
}
.yellow1{
  background-color: yellow;
}
.red1{
 background-color: tomato;
}

.green1{
  background-color: yellowgreen;
}

.blue1{
  background-color: blue;
}
.bisque1{
  background-color: bisque;
}
.yellow2{
  background-color: yellow;
}
.red2{
 background-color: tomato;
}

.green2{
  background-color: yellowgreen;
}

.blue2{
  background-color: blue;
}
.bisque2{
  background-color: bisque;
}
.color_palette{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.palette_btn{
  width: 15px;
  height: 15px;
  border: none;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.palette_btn:hover{
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-5px);
}
.templates{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 5px;
    flex-wrap: wrap;
}
.template_section__text{
    padding-top: 20px;
    margin-bottom: 60px;
}
.template_card{
    width: 800px; /*было 600*/
    height: 450px;/*было 250*/
  
    margin-bottom: 120px;
    background-color: white;
}
.template_link{
  text-decoration: none;
  color: black;
  width: 800px;
  height: 450px;
  margin-bottom: 120px;
}
.template_card__img{
  height: 450px;
  
}
/*Харченко исправляю шаблоны 16.11.21*/

/*-шаблон 1 --*/
.templ1_img{
  height: 100%;
  width: 100%;
 background-image: url(../img/Group\ 1.svg);
}
/*-шаблон 2 --*/
.templ2_img{
  height: 100%;
  width: 100%;
 background-image: url(../img/Group\ 2.svg);
}
 /*-шаблон 3 --*/
 .templ3_img{
  height: 100%;
  width: 100%;
 background-image: url(../img/Group\ 3.svg);
}
 /*-шаблон 4 --*/
 .templ4_img{
  height: 100%;
  width: 100%;
 background-image: url(../img/Group\ 4.svg);
}
/*Харченко исправил шаблоны 16.11.21*/ 






 /* ------ Секция о нас -*/
.about_us_section{
    background-color: tomato;
    display: none;
}
.about_us__text{
    text-align: center;
}
/* Конец раздела Артура, контент в центре с шаблонами */

/* Раздел Павла, шапка */
header{
    min-height: 100px;
    background-color: white;
}
  
  .section {
    text-decoration-line: none;
  }
  
  .section__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .header-menu {
    min-height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  
 .header__img__burger-M{
    z-index: 1000;
    top: 0;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 25px;
  }

  .header__logo{
    text-decoration: none;
  }

  .header__img__logo-text{
    width: 192px;
    height: 80px;
  }
  main{
   flex-grow: 1;
  }
  .mainmenu__title{
    display: flex;
    font-weight: 600;
    line-height: 1.14;
    text-transform: uppercase;
    max-width: 240px;
    margin-left: 350px;
    margin-top: -50px;
  }

  .mainmenu__title__right{
    font-weight: 600;
    text-transform: uppercase;
    max-width: 240px;
    margin-right: 50px;
  }

  .mainmenu__item{
      margin-top: 33px;
  }
  
/*Конец раздела Павла, шапка */
/* Мужской раздел*/
footer{
    min-height: 300px;
    background-color: white;
    justify-content: center;
}
.template_selection_section{
    text-align: center;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.map{
  margin-right: 50px;
}

.footer_logo{
  font-weight: 600;
  line-height: 1.14;
  text-transform: uppercase;
  max-width: 30px;
  margin-left: 1px;
}

.footer_list{
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  flex-direction: column;
}
.footer_list__street{
  padding-bottom: 20px;
}
.footer_links{
  margin-left: 1px;
}

@media (max-width:1440px){
  .mainmenu__item{
      visibility: hidden;
  }
  .templates{
    justify-content: center;
  }
}

@media (max-width:1730px){
  .templates{
    justify-content: center;
  }
}


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
}

@media only screen
and (min-width : 1224px) {
}

@media only screen
and (min-width : 1824px) {
}

