html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/* Раздел Артура, контент в центре с шаблонами */

.templates{
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
    flex-wrap: wrap;
}
.template_section__text{
    padding-top: 20px;
}
.template_card{
    width: 600px;
    height: 250px;
    margin-bottom: 40px;
    background-color: white;
    border: gray 1px solid;
}
.template_link{
  text-decoration: none;
  color: black;
}
.template_card__img{
  height: 240px;
  
}
/*-шаблон 1 --*/
.templ1_header{
 height: 20%;
 border: 2px solid black;
 border-bottom: 1px;
}
.templ1_main{
 height: 60%;
 border: 2px solid black;
}
.templ1_footer{
  height: 24%;
 border: 2px solid black;
 border-top: 1px;
}
/*-шаблон 2 --*/
.templ2_header{
  height: 20%;
  border: 2px solid black;
  border-bottom: 1px;
 }
 .templ2_main{
  display: flex;
  height: 60%;
  border: 2px solid black;
 }
 .templ2_main__section1{
   height: 100%;
   width: 40%;
 }
 .templ2_main__section2{
    height: 100%;
    width: 60%;
    border-left: 2px solid black;
 }
 .templ2_footer{
   height: 24%;
  border: 2px solid black;
  border-top: 1px;
 }
 /*-шаблон 3 --*/
 .templ3_header{
  height: 20%;
  border: 2px solid black;
  border-bottom: 1px;
 }
 .templ3_main{
  display: flex;
  height: 30%;
  border: 2px solid black;
 }
 .second_main{
   border-top: 1px;
 }
 .templ3_main__section1{
   height: 100%;
   width: 40%;
 }
 .templ3_main__section2{
    height: 100%;
    width: 60%;
    border-left: 2px solid black;
 }
 .templ3_footer{
   height: 24%;
  border: 2px solid black;
  border-top: 1px;
 }
 /*-шаблон 4 --*/
 .templ4_header{
  height: 20%;
  border: 2px solid black;
  border-bottom: 1px;
 }
 .templ4_main{
  display: flex;
  height: 60%;
  border: 2px solid black;
 }
 .templ4_main__section1{
   height: 100%;
   width: 40%;
 }
 .templ4_main__section2{
    height: 100%;
    width: 60%;
    border-left: 2px solid black;
 }
 .templ4_footer{
   height: 24%;
   border: 2px solid black;
   border-top: 1px;
 }
 .templ4_main_section2_element{
   height: 25%;
   width: 100%;
   border: 1px solid black;
 }






 /* ------ Секция о нас -*/
.about_us_section{
    background-color: tomato;
}
.about_us__text{
    text-align: center;
}
/* Конец раздела Артура, контент в центре с шаблонами */

/* Раздел Павла, шапка */
header{
    min-height: 100px;
    background-color: white;
    border-bottom: gray 1px solid;
}
  
  .section {
    text-decoration-line: none;
  }
  
  .section__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .header-menu {
    min-height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  
 .header__img__burger-M{
    z-index: 1000;
    top: 0;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 25px;
  }

  .header__logo{
    text-decoration: none;
  }

  .header__img__logo-text{
    width: 192px;
    height: 80px;
  }

  .mainmenu__title{
    display: flex;
    font-weight: 600;
    line-height: 1.14;
    text-transform: uppercase;
    max-width: 240px;
    margin-left: 300px;
    margin-top: -50px;
  }

  .mainmenu__title__right{
    font-weight: 600;
    text-transform: uppercase;
    max-width: 240px;
  }

  .mainmenu__item{
      margin-top: 33px;
  }
  
/*Конец раздела Павла, шапка */
/* Раздел распиздяя*/
footer{
    border-top: gray 1px solid;
    min-height: 300px;
    background-color: white;
    justify-content: center;
}
.template_selection_section{
    text-align: center;
}
.foot{
    display: flex;
    border: 1px solid grey;
   
}

.map{
  margin-left: 10px;
}

.footer_logo{
  display: flex;
  font-weight: 600;
  line-height: 1.14;
  text-transform: uppercase;
  max-width: 40px;
  margin-left: 40px;
}
.footer_logo__img{
  margin-right: 20px;
  width: 75px;
}
.footer_list{

  list-style-type: none;
}
.footer_list__street{
  padding-bottom: 20px;
}
.footer_links{
  margin-left: 40px;
}