.container_listAndLinks{
    margin-right: 50px;
}

.footer__template{
    display: flex;
    justify-content: end;
}


.main_header{
    
}

.main_div{
    display: flex;
    height: 500px;
}

.section_wrapper__main{
    
}

.main_div_inside__second{
    border: 1px solid gray;
    width:  1000px;
    height: 125px;
}


.main_div__inside{
    border: 1px solid gray;
    width: 500px;
    height: 500px;
}

.main_footer{
    
}




