html {
  box-sizing: border-box;
}
.pop-up_window-r {
  /* появляется справа */
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 40, 120, 0.35);
  position: absolute;
  color: black;
  left: 10px;
  top: 10px;
  padding: 5px 25px;
  z-index: 1;
}
.pop-up_window-l {
  /* появляется слева*/
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 40, 120, 0.35);
  position: absolute;
  color: black;
  right: 10px;
  top: 10px;
  padding: 5px 25px;
  z-index: 1;
}

/****---кнопки---***/
#header_button {
  top: 10px;
  right: 20px;
  position: absolute;
}
#main_button {
  top: 10px;
  right: 20px;
  position: absolute;
}
#footer_button {
  top: 10px;
  right: 20px;
  position: absolute;
}
.template_h1 {
  margin-left: 50px;
}
.main_header {
  display: flex;
  align-items: center;
  position: relative;
}
.main_div {
  padding: 30px;
  height: 600px;
  position: relative;
}
.main_img {
  top: 20px;
  left: 50px;
  width: 400px;
  height: 400px;
  background: url('../templates_img/1.jpg');
  position: absolute;
  box-shadow: 0 8px 16px 0 rgba(0, 40, 120, 0.35);
}
#main_img_button {
  position: absolute;
  top: 20px;
  left: 450px;
}
.main_text_container {
  display: flex;
  top: 30px;
  left: 600px;
  position: absolute;
}
#main_text_button {
  height: 30px;
  margin-left: 10px;
  margin-top: 5px;
}

#main_setting_button {
  position: absolute;
  left: 1215px;
  top: -10px;
}

.advanced_settings_wrapper {
  display: none;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 40, 120, 0.35);
  background-color: white;
  top: -20px;
  right: 150px;
  position: absolute;
  z-index: 2;
}
.advanced_settings {
  padding: 50px;
  position: relative;
}
.settings-exit {
  position: absolute;
  right: 10px;
  top: 10px;
}
.settings_content_wrapper div {
  height: 140px;
  width: 200px;
  padding-top: 5px;
  padding-left: 10%;
  margin: 5px;
}
.settings-font_family {
}
.fonts_family_list {
  list-style: none;
}

.fonts_family_list--font {
  border: black 1px solid;
  margin: 1px 0;
}
.fonts_style_list {
  list-style: none;
}

.fonts_style_list--font {
  border: black 1px solid;
  margin: 1px 0;
}
.normal {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
.bold {
  font-weight: bolder;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.Montserrat {
  font-family: 'Montserrat', sans-serif;
}
.Roboto {
  font-family: 'Roboto', sans-serif;
}
.Manrope {
  font-family: 'Manrope', sans-serif;
}
.Oswald {
  font-family: 'Oswald', sans-serif;
}
.fonts_color_list {
  list-style: none;
}
.red_button {
  background-color: tomato;
}
.green_button {
  background-color: yellowgreen;
}
.white_button {
  background-color: white;
}
.black_button {
  background-color: black;
  color: azure;
}
.blue_button {
  background-color: blue;
}
.fonts_color_list--font {
  border: black 1px solid;
  margin: 1px 0;
}
.red_text {
  color: tomato;
}
.blue_text {
  color: #0341bd;
}
.green_text {
  color: greenyellow;
}
.black_text {
  color: black;
}
.white_text {
  color: white;
}
.settings_input {
  margin-top: 5px;
  width: 140px;
}
.settings_accept {
  margin-top: 15px;
  margin-left: 0;
}
#advanced_main_text_button {
  height: 50px;
  width: 150px;
}
.selected_style {
  border: blueviolet 2px solid;
}

/*-------подвал-------*/
#result_button {
  margin-left: 50px;
  margin-top: 100px;
  height: 60px;
  width: 150px;
}

#restore_button {
  margin-left: 50px;
  margin-top: 200px;
  height: 60px;
  width: 150px;
}
.main_footer {
  position: relative;
}

.container_listAndLinks {
  margin-right: 50px;
}

.footer__template {
  display: flex;
  justify-content: space-between;
}

.fonts_family_list--font :hover {
  font-size: 19px;
}
.hide_element{
  display: none;
}